a.underline {
  color: #c6d8db;
  text-decoration: none;
  
  display: inline-block;
  padding: 15px 20px;
  position: relative;
}
a.underline:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #d8d2da;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
a.underline:hover:after { 
  width: 100%; 
  left: 0; 
}
::-webkit-scrollbar {
  display: none;
}

.background_image{
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  background-blend-mode: saturation;
  min-height: 100%;
}

.animate__animated.animate__bounceIn{
  --animation-duration: 10s;
}
